@using prjMyPrj.Models
@model IEnumerable<prjMyPrj.ViewModels.CProduct>

@{
    ViewBag.Title = "Home Page";

}

<h2>商品列表</h2>

<p>
    <table class="table">
        <tr>
            <td>@Html.DisplayNameFor(model => model.fPId)</td>
            <td>@Html.DisplayNameFor(model => model.fImg)</td>
            <td>@Html.DisplayNameFor(model => model.fName)</td>
            <td>@Html.DisplayNameFor(model => model.fPrice)</td>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.fPId)</td>
                <td><img src="~/Content/@item.fImg" /></td>
                <td>@Html.DisplayFor(modelItem => item.fName)</td>
                <td>@Html.DisplayFor(modelItem => item.fPrice)</td>
            </tr>
        }



    </table>
</p>