@using prjMyPrj.Models
@model IEnumerable<prjMyPrj.ViewModels.CProduct>

@{
    ViewBag.Title = "SelectProduct";
}

<h2>查詢結果</h2>

<p>
    <table class="table">
        <tr>
            <td>@Html.DisplayNameFor(model => model.fPId)</td>
            <td>@Html.DisplayNameFor(model => model.fImg)</td>
            <td>@Html.DisplayNameFor(model => model.fName)</td>
            <td>@Html.DisplayNameFor(model => model.fPrice)</td>
            <td>
                購物車
            </td>
            <td>
                操作
            </td>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.fPId)</td>
                <td><img src="~/Content/@item.fImg" /></td>
                <td>@Html.DisplayFor(modelItem => item.fName)</td>
                <td>@Html.DisplayFor(modelItem => item.fPrice)</td>
                <td>
                    @Html.ActionLink("加入購物車", "AddCart", new { fPId = item.fPId })
                </td>

                <td>
                    @if ((Session[CDictionary.SK_LOGINED_USER] as tMember).fLevel == "2")
                    {
                        @Html.ActionLink("編輯", "EditProduct", new { fId = item.fId })
                        @Html.ActionLink("刪除", "DeleteProduct", new { fId = item.fId })
                    }
                </td>
            </tr>

        }
    </table>
</p>

